* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(to bottom, #9e0016 , #f97083);

	/*background: #9e0016;	*/
	font-family: 'Roboto', sans-serif;
}

.contenedor {

	width: 90%;
	max-width: 1200px;
	margin:auto;
	padding: 20px;
	gap: 20px}
	

.contenedor-dos {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 20px;
	gap: 20px; 
}


#logo{
	border-radius: 10px;
	min-height: 100px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    background-color:#ff6400;
    
}


#logo h1 {
	text-align: center;
    margin: 0; 
}

#logo h1 a:link { 
    text-decoration: none;
}

#logo h1 a a:visited {
text-decoration: none;
}

#logo h1 a {
	
	display: flex;
        font-weight: bold;
    display: inline-block;
	text-align: center;
	justify-content: space-between;
	flex-flow: row;
    color:#9e0016;
    font-size:60px;
    font-family: 'Amatic SC', cursive;
}


#menu{
	border-radius: 10px;
	min-height: 20px;
	font-weight: bold;
	padding: 10px;
	position:relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	background-color:antiquewhite;
	text-align: center;
	justify-content: center;
	

}

#menu ul li{
	
	display: flex;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
	text-align: center;
	justify-content: space-between;
	flex-flow: row
	

	
	;
}


#menu ul li a{
    color: #9e0016;

}

#menu a:hover{
    color:#f97083 ; 
} 

#menu ul li a:link { 
    text-decoration: none;
}

#menu ul li a:visited {
text-decoration: none;
}

.contenedor-conciertos {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;

	
}

.card {
	border-radius: 20px;
	min-height: 300px;
	font-weight: bold;
	padding: 20px;
	position:relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	place-content: center;

	
}

.card .textos {
	
	height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
}

.banner {
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	background-size: cover;
	background-position: center center;


}

.banner ul {
	list-style: none;
}

.banner ul li {
	margin: 15px;
	font-weight: bold;
}

.banner .boton {
	background: #9e0016;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}


@media screen and (max-width: 900px) {
	
}

@media screen and (max-width: 700px) {
	
}

@media screen and (max-width: 600px) {

}